
<nav style="text-align: center;">
    <h2>AirlineBooking System</h2>
    <a href="/add-booking">Add Booking</a> <br><br>
    <a href="/view-booking">View Booking</a> <br><br>
     <a href="/add-payment">Add Payment</a> <br><br>
    <a href="/view-payment">View Payment</a><br><br>
    <a href="/add-passenger">Add Passenger</a> <br><br>
    <a href="/view-passenger">View Passenger</a><br><br>
    <a href="/add-airport">Add Airport</a> <br><br>
    <a href="/view-airport">View Airport</a><br><br>
    <a href="/add-flight">Add Flight</a> <br><br>
    <a href="/view-flight">View Flight</a><br><br>
    <a href="/add-customer">Add Customer</a> <br><br>
    <a href="/view-customer">View Customer</a><br><br>
    <a href="/add-frequentflyer">Add Frequentflyer</a> <br><br>
    <a href="/view-frequentflyer">View Frequentflyer</a><br><br>
    <a href="/add-notificationtemplate">Add Notificationtemplate</a> <br><br>
    <a href="/view-notificationtemplate">View Notificationtemplate</a><br><br>
    <a href="/add-notification">Add notification</a> <br><br>
    <a href="/view-notification">View notification</a>
</nav>